<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>644039483124-ctpf06k876aeo0id6ce9mtvu653aod69.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.644039483124-ctpf06k876aeo0id6ce9mtvu653aod69</string>
	<key>API_KEY</key>
	<string>AIzaSyDhNjlIjJocanLIbP88LqunOCEA2PVdp4g</string>
	<key>GCM_SENDER_ID</key>
	<string>644039483124</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.myApp.slots.Currency-Today</string>
	<key>PROJECT_ID</key>
	<string>currency-today-1410b</string>
	<key>STORAGE_BUCKET</key>
	<string>currency-today-1410b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:644039483124:ios:277ebd2488d32d079f48a1</string>
</dict>
</plist>